#div1 {
  display: flex;
  width: 100%;
  height: 35%;
  border-style: solid;
  border-color: darkblue;
  border-width: 1px;
  align-items: center;
  justify-content: center;
}

#div2,
#div4 {
  border-style: solid;
  border-color: darkblue;
  border-width: 1px;
  padding: 20px 100px 20px 100px;
  margin: 3px 0px 0px 0px;
}

p,
h3,
li {
  color: black;
}

#div3 {
  display: flex;
  width: 100%;
  height: 10%;
  border-style: solid;
  border-color: darkblue;
  border-width: 1px;
  align-items: center;
  justify-content: center;
}

#div5 {
  display: flex;
  width: 100%;
  height: 80%;
  border-style: solid;
  border-color: darkblue;
  border-width: 1px;
  align-items: center;
  justify-content: center;
}

#div6 {
  border-style: solid;
  border-color: darkblue;
  border-width: 1px;
  padding: 0px 100px 0px 10px;
  margin: 3px 0px 0px 31%;
}

#div7 {
  width: 29%;
  height: auto;
  margin-top: 0.5px;
  margin-left: 0px;
  border-style: solid;
  border-color: darkblue;
  border-width: 1px;
  float: left;
  padding: 0px 7px 0px 7px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.center-flex{
	display: flex;
	justify-content: center;
	margin: auto;
	padding: 20px 0 20px 0;
}
.padding-top-bottom{
	padding: 10px 0 10px 0;
}
.pad-left-30{
	padding-left: 30px;
}
.color-white{
  color: white;
}